.jumbotron {
  background-color: #e3f59b;
  color: black;
  margin-top: 50px;

}

footer {
  padding: 10px 10px 0 10px;
  background-color: #e3f59b;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-category {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-busca {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}


.oi-magnifying-glass {
 padding-right: 10px;
}

form {
  margin-left: 50px;
  margin-right: 50px;
}

.tab-content {
  padding-top: 10px;
}

.carousel-inner {
  margin-top: 20px;

}
