.jumbotron {
  background-color: #c1b663;
  color: black;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #c1b663;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.card-category {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.btn-busca {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.oi-magnifying-glass {
  padding-right: 10px;
}
form {
  margin-left: 50px;
  margin-right: 50px;
}
.tab-content {
  padding-top: 10px;
}
.carousel-inner {
  margin-top: 20px;
}
