$yellow: #c1b663;

@mixin margenes($top, $bottom, $left, $right){
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}

.jumbotron {
  background-color: $yellow;
  color: black;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  @include margenes(10px, 0px, 20px, 20px);
}

.card-category {
  flex: 1 200px;
  @include margenes(10px, 0px, 0px, 0px);
}

.btn-busca {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}


.oi-magnifying-glass {
 padding-right: 10px;
}

form {
  margin-left: 50px;
  margin-right: 50px;
}

.tab-content {
  padding-top: 10px;
}

.carousel-inner {
  margin-top: 20px;

}
