@yellow: #c1b663;

.margenes(@top: 0px, @bottom: 0px){
margin-top: @top;
margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
 }


footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
}

.card-category {
  flex: 1 200px;
  .margenes(10px, 0px);
  }

.btn-busca {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.oi-magnifying-glass {
  padding-right: 10px; }

form {
  .margenes(10px, 0px); }

.tab-content {
  padding-top: 10px; }

.carousel-inner {
  margin-top: 20px; }
